expense-app/main/default/flows/Calculate_Fuel_Efficiency_since_Last_Re_fuel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Calculate_and_Assign_Efficiency_to_Record</name>
        <label>Calculate and Assign Efficiency to Record</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Efficiency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateFuelEfficiency</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>Calculates the Fuel efficiency by taking calculating the kms travelled since last re-fuel divided by the number of litres filled this time.</description>
        <name>CalculateFuelEfficiency</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Odometer__c} - {!Get_Previous_Record_Odometer_Reading.Odometer__c}) / {!$Record.Litres__c}</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>Calculate Fuel Efficiency since Last Re-fuel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Fuel Efficiency since Last Re-fuel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Previous_Record_Odometer_Reading</name>
        <label>Get Previous Record Odometer Reading</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_and_Assign_Efficiency_to_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Vehicle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Vehicle__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Odometer__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record__Prior.Odometer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Re_fuel_Entry__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Previous_Record_Odometer_Reading</targetReference>
        </connector>
        <object>Re_fuel_Entry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
