expense-app/main/default/flows/Clone_Monthly_Expenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_New_Expense_to_Collection</name>
        <label>Add New Expense to Collection</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>New_Month_Expenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Expense_Records_and_Update_Month</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Number_of_Records_Cloned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Number_of_Records_Cloned</name>
        <label>Add to Number of Records Cloned</label>
        <locationX>490</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>No_of_Records_Cloned</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Increment_No_Of_Records_Cloned</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Expense_Records_and_Update_Month</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_the_No_of_Months_Difference_and_Store_in_Var</name>
        <label>Calculate the No of Months Difference and Store in Var</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>No_of_Months_Difference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubtractToMonthfromFromMonth</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_Expenses_to_Copy_From</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Current_Expense_Date_and_Assign_to_Var</name>
        <label>Get Current Expense Date and Assign to Var</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Current_Expense_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Expense_Records_and_Update_Month.Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Expense_Date_by_No_of_Months_Difference</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Expense_Date_by_No_of_Months_Difference</name>
        <label>Increment Expense Date by No of Months Difference</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Current_Expense_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncreaseExpenseDatebyNoofMonthsDiff</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Expense_to_Collection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Month_1</name>
        <choiceText>January</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_10</name>
        <choiceText>October</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_11</name>
        <choiceText>November</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_12</name>
        <choiceText>December</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_2</name>
        <choiceText>February</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_3</name>
        <choiceText>March</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_4</name>
        <choiceText>April</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_5</name>
        <choiceText>May</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_6</name>
        <choiceText>June</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_7</name>
        <choiceText>July</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_8</name>
        <choiceText>August</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Month_9</name>
        <choiceText>September</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Months</name>
        <choiceText>{!Month_1}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>Is_To_Date_Greater_Than_From_Date</name>
        <label>Is To Date Greater Than From Date</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Calculate_the_No_of_Months_Difference_and_Store_in_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_To_Month</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Copy_From_Month</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>You_have_entered_invalid_inputs</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IncreaseExpenseDatebyNoofMonthsDiff</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!Current_Expense_Date},{!No_of_Months_Difference})</expression>
    </formulas>
    <formulas>
        <name>Increment_No_Of_Records_Cloned</name>
        <dataType>Number</dataType>
        <expression>{!No_of_Records_Cloned}+1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubtractToMonthfromFromMonth</name>
        <dataType>Number</dataType>
        <expression>{!Copy_To_Month}-{!Copy_From_Month}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Clone Monthly Expenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Monthly Expenses</label>
    <loops>
        <name>Loop_Through_Expense_Records_and_Update_Month</name>
        <label>Loop Through Expense Records and Update Month</label>
        <locationX>402</locationX>
        <locationY>638</locationY>
        <collectionReference>Read_Expenses_to_Copy_From</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Current_Expense_Date_and_Assign_to_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_new_Expense_Record_with_New_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_new_Expense_Record_with_New_Date</name>
        <label>Create new Expense Record with New Date</label>
        <locationX>402</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Monthly_Expenses_Successfully_Cloned</targetReference>
        </connector>
        <inputReference>New_Month_Expenses</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Read_Expenses_to_Copy_From</name>
        <label>Read Expenses to Copy From</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Expense_Records_and_Update_Month</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Monthly_Expense__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expense_Month__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_From_Month</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Expense__c</object>
        <sortField>Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>This flow clones all the expenses marked as monthly from the month specified by the user to the month also specified by the user.</description>
        <name>Clone_Monthly_Expenses</name>
        <label>Clone Monthly Expenses</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_To_Date_Greater_Than_From_Date</targetReference>
        </connector>
        <fields>
            <name>Copy_From_Month</name>
            <choiceReferences>Month_1</choiceReferences>
            <choiceReferences>Month_2</choiceReferences>
            <choiceReferences>Month_3</choiceReferences>
            <choiceReferences>Month_4</choiceReferences>
            <choiceReferences>Month_5</choiceReferences>
            <choiceReferences>Month_6</choiceReferences>
            <choiceReferences>Month_7</choiceReferences>
            <choiceReferences>Month_8</choiceReferences>
            <choiceReferences>Month_9</choiceReferences>
            <choiceReferences>Month_10</choiceReferences>
            <choiceReferences>Month_11</choiceReferences>
            <choiceReferences>Month_12</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Month_1</defaultSelectedChoiceReference>
            <fieldText>Copy From Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_To_Month</name>
            <choiceReferences>Month_1</choiceReferences>
            <choiceReferences>Month_2</choiceReferences>
            <choiceReferences>Month_3</choiceReferences>
            <choiceReferences>Month_4</choiceReferences>
            <choiceReferences>Month_5</choiceReferences>
            <choiceReferences>Month_6</choiceReferences>
            <choiceReferences>Month_7</choiceReferences>
            <choiceReferences>Month_8</choiceReferences>
            <choiceReferences>Month_9</choiceReferences>
            <choiceReferences>Month_10</choiceReferences>
            <choiceReferences>Month_11</choiceReferences>
            <choiceReferences>Month_12</choiceReferences>
            <dataType>Number</dataType>
            <defaultSelectedChoiceReference>Month_1</defaultSelectedChoiceReference>
            <fieldText>Copy To Month</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <helpText>&lt;p&gt;Select the month to copy from and the month to copy to.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Monthly_Expenses_Successfully_Cloned</name>
        <label>Monthly Expenses Successfully Cloned</label>
        <locationX>402</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;Automation has successfully cloned &lt;strong&gt;{!No_of_Records_Cloned}&lt;/strong&gt; Monthly Expenses from &lt;strong&gt;{!Copy_From_Month}&lt;/strong&gt; to &lt;strong&gt;{!Copy_To_Month}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can close this Tab now or click Next to clone another month.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>You_have_entered_invalid_inputs</name>
        <label>You have entered invalid inputs</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;You can only clone expenses forward. &lt;/p&gt;&lt;p&gt;Please make sure your&lt;strong&gt; &quot;Clone From Month&quot; is earlier than &quot;Clone To Month&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_Monthly_Expenses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Current_Expense_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Loop_Through_Expense_Records_and_Update_Month.Date__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Expense_Records_From_Month</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>New_Month_Expenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Expense__c</objectType>
    </variables>
    <variables>
        <name>No_of_Months_Difference</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>SubtractToMonthfromFromMonth</elementReference>
        </value>
    </variables>
    <variables>
        <name>No_of_Records_Cloned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
